.header {
  background-color: #ffffff;
  padding: 14px 22px;
  display: flex;
  column-gap: 45px;
  align-items: center;
  height: 80px;

  &Logged {
    background-color: #ffffff;
    padding: 14px 22px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    height: 80px;
  }

  &__title {
    margin-right: auto;
    font-size: 18px;
    color: #262626;
    text-decoration: none;
  }

  &__user {
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 12px;
  }
}
